### How Are We Doing?

In the last notebook, you created a working version of SVD for situations even when there are tons of missing values.  This is awesome!  The question now is how well does this solution work?

In this notebook, we are going to simulate exactly what we would do in the real world to tune our recommender.  

Run the cell below to read in the data and get started.

In [1]:
import numpy as np
import pandas as pd

# Read in the datasets
movies = pd.read_csv('data/movies_clean.csv')
reviews = pd.read_csv('data/reviews_clean.csv')

del movies['Unnamed: 0']
del reviews['Unnamed: 0']

1. Using the **reviews** dataframe, perform the following tasks to create a training and validation set of data we can use to test the performance of your SVD algorithm using **off-line** validation techniques.

 * Order the reviews dataframe from earliest to most recent 
 * Pull the first 10000 reviews from  the dataset
 * Make the first 8000/10000 reviews the training data 
 * Make the last 2000/10000 the test data
 * Return the training and test datasets

In [4]:
reviews.sort_values('date', ascending = False)

,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,month_5,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
259939,19670,5308322,7,1530050676,2018-06-26 22:04:36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
310197,23489,6644200,9,1530050531,2018-06-26 22:02:11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
212856,16136,5478478,7,1530050482,2018-06-26 22:01:22,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
440676,32975,2381249,8,1530049874,2018-06-26 21:51:14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712332,53966,6644200,7,1530049728,2018-06-26 21:48:48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
620897,46740,6644200,8,1530049151,2018-06-26 21:39:11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
144073,10948,120689,10,1530048563,2018-06-26 21:29:23,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
511403,38441,1935179,9,1530047995,2018-06-26 21:19:55,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
551436,41495,363988,7,1530047951,2018-06-26 21:19:11,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
237450,18052,2552296,6,1530047928,2018-06-26 21:18:48,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
581812,43493,5688996,8,1530047652,2018-06-26 21:14:12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698093,52959,417,7,1530047326,2018-06-26 21:08:46,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
679653,51610,5164214,8,1530047037,2018-06-26 21:03:57,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
511437,38441,7784604,9,1530046304,2018-06-26 20:51:44,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
692620,52598,3606756,6,1530045930,2018-06-26 20:45:30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
383855,28896,6644200,5,1530045795,2018-06-26 20:43:15,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
418010,31439,5140878,7,1530045714,2018-06-26 20:41:54,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
234537,17801,4477536,4,1530045378,2018-06-26 20:36:18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
436711,32680,4881806,3,1530044731,2018-06-26 20:25:31,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
273989,20629,1979320,8,1530044521,2018-06-26 20:22:01,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698627,52959,412922,8,1530044515,2018-06-26 20:21:55,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
61103,4784,3606756,9,1530043753,2018-06-26 20:09:13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
658134,49743,6644200,8,1530043725,2018-06-26 20:08:45,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
553432,41649,1365519,5,1530043125,2018-06-26 19:58:45,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
553490,41649,2231461,5,1530043110,2018-06-26 19:58:30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
122191,9437,1856101,7,1530042920,2018-06-26 19:55:20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
121669,9437,94824,9,1530042595,2018-06-26 19:49:55,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
121438,9437,80487,10,1530042562,2018-06-26 19:49:22,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
527473,39594,6306064,6,1530041589,2018-06-26 19:33:09,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14803,1376,7784604,7,1530040632,2018-06-26 19:17:12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83421,6428,99685,8,1362068477,2013-02-28 16:21:17,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
33851,2987,1045658,7,1362068369,2013-02-28 16:19:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
673919,51137,1351685,8,1362068062,2013-02-28 16:14:22,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
445230,33367,1853728,9,1362067909,2013-02-28 16:11:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
445208,33367,1648179,6,1362067888,2013-02-28 16:11:28,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
588615,44031,1371111,6,1362067709,2013-02-28 16:08:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
425310,31954,338216,6,1362067229,2013-02-28 16:00:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
441415,33000,1757746,5,1362067038,2013-02-28 15:57:18,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
441401,33000,265086,10,1362066989,2013-02-28 15:56:29,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8552,762,1954843,5,1362066578,2013-02-28 15:49:38,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
81874,6338,889573,5,1362066533,2013-02-28 15:48:53,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
201475,15357,1790885,8,1362066300,2013-02-28 15:45:00,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
188448,14569,1127715,7,1362066197,2013-02-28 15:43:17,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
540206,40491,1853728,8,1362066113,2013-02-28 15:41:53,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
316435,24000,1568338,2,1362066071,2013-02-28 15:41:11,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
181657,13969,376994,8,1362065947,2013-02-28 15:39:07,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
108246,8408,1068680,7,1362065305,2013-02-28 15:28:25,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
108176,8408,319343,6,1362065226,2013-02-28 15:27:06,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
108238,8408,949731,5,1362065194,2013-02-28 15:26:34,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
199048,15228,119167,6,1362064605,2013-02-28 15:16:45,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
259840,19657,1559547,9,1362064189,2013-02-28 15:09:49,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
545732,40966,884328,7,1362064104,2013-02-28 15:08:24,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450612,33799,64665,8,1362064047,2013-02-28 15:07:27,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
28143,2602,1003052,8,1362063906,2013-02-28 15:05:06,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450691,33799,338013,4,1362063879,2013-02-28 15:04:39,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
450669,33799,118799,5,1362063653,2013-02-28 15:00:53,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
584570,43691,1496422,7,1362063503,2013-02-28 14:58:23,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
81920,6338,1411238,6,1362062838,2013-02-28 14:47:18,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
442554,33140,444778,8,1362062624,2013-02-28 14:43:44,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
498923,37287,2171847,6,1362062307,2013-02-28 14:38:27,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [13]:
def create_train_test(reviews, order_by, training_size, testing_size):
    '''    
    INPUT:
    reviews - (pandas df) dataframe to split into train and test
    order_by - (string) column name to sort by
    training_size - (int) number of rows in training set
    testing_size - (int) number of columns in the test set
    
    OUTPUT:
    training_df -  (pandas df) dataframe of the training set
    validation_df - (pandas df) dataframe of the test set
    '''
    
    reviews = reviews.sort_values(order_by)
    
    training_df = reviews.head(training_size)
    validation_df = reviews.iloc[training_size:training_size + testing_size]

    return training_df, validation_df

In [14]:
# Nothing to change in this or the next cell
# Use our function to create training and test datasets
train_df, val_df = create_train_test(reviews, 'date', 8000, 2000)

In [16]:
# Make sure the dataframes we are using are the right shape
assert train_df.shape[0] == 8000, "The number of rows doesn't look right in the training dataset."
assert val_df.shape[0] == 2000, "The number of rows doesn't look right in the validation dataset"
assert str(train_df.tail(1)['date']).split()[1] == '2013-03-15', "The last date in the training dataset doesn't look like what we expected."
assert str(val_df.tail(1)['date']).split()[1] == '2013-03-18', "The last date in the validation dataset doesn't look like what we expected."
print("Nice job!  Looks like you have written a function that provides training and validation dataframes for you to use in the next steps.")

Nice job!  Looks like you have written a function that provides training and validation dataframes for you to use in the next steps.

In the real world, we might have all of the data up to this final date in the training data.  Then we want to see how well we are doing for each of the new ratings, which show up in the test data.

Below is a working example of the function created in the previous example you can use (or you can replace with your own).

`2.`  Fit the function to the training data with the following hyperparameters: 15 latent features, a learning rate of 0.005, and 250 iterations. This will take some time to run, so you may choose fewer latent features, a higher learning rate, or fewer iteratios if you want to speed up the process.  

**Note:** Again, this might be a good time to take a phone call, go for a walk, or just take a little break.  No need to change the code below unless you would like to make changes to reduce the time needed to obtain results.

In [17]:
def FunkSVD(ratings_mat, latent_features=12, learning_rate=0.0001, iters=100):
    '''
    This function performs matrix factorization using a basic form of FunkSVD with no regularization
    
    INPUT:
    ratings_mat - (numpy array) a matrix with users as rows, movies as columns, and ratings as values
    latent_features - (int) the number of latent features used
    learning_rate - (float) the learning rate 
    iters - (int) the number of iterations
    
    OUTPUT:
    user_mat - (numpy array) a user by latent feature matrix
    movie_mat - (numpy array) a latent feature by movie matrix
    '''
    
    # Set up useful values to be used through the rest of the function
    n_users = ratings_mat.shape[0]
    n_movies = ratings_mat.shape[1]
    num_ratings = np.count_nonzero(~np.isnan(ratings_mat))
    
    # initialize the user and movie matrices with random values
    user_mat = np.random.rand(n_users, latent_features)
    movie_mat = np.random.rand(latent_features, n_movies)
    
    # initialize sse at 0 for first iteration
    sse_accum = 0
    
    # keep track of iteration and MSE
    print("Optimizaiton Statistics")
    print("Iterations | Mean Squared Error ")
    
    # for each iteration
    for iteration in range(iters):

        # update our sse
        old_sse = sse_accum
        sse_accum = 0
        
        # For each user-movie pair
        for i in range(n_users):
            for j in range(n_movies):
                
                # if the rating exists
                if ratings_mat[i, j] > 0:
                    
                    # compute the error as the actual minus the dot product of the user and movie latent features
                    diff = ratings_mat[i, j] - np.dot(user_mat[i, :], movie_mat[:, j])
                    
                    # Keep track of the sum of squared errors for the matrix
                    sse_accum += diff**2
                    
                    # update the values in each matrix in the direction of the gradient
                    for k in range(latent_features):
                        user_mat[i, k] += learning_rate * (2*diff*movie_mat[k, j])
                        movie_mat[k, j] += learning_rate * (2*diff*user_mat[i, k])

        # print results
        print("%d \t\t %f" % (iteration+1, sse_accum / num_ratings))
        
    return user_mat, movie_mat

In [18]:
# Create user-by-item matrix - nothing to do here
train_user_item = train_df[['user_id', 'movie_id', 'rating', 'timestamp']]
train_data_df = train_user_item.groupby(['user_id', 'movie_id'])['rating'].max().unstack()
train_data_np = np.array(train_data_df)

# Fit FunkSVD with the specified hyper parameters to the training data
user_mat, movie_mat = FunkSVD(train_data_np, latent_features=15, learning_rate=0.005, iters=250)

Optimizaiton Statistics
Iterations | Mean Squared Error
1 		 10.525106
2 		 5.929350
3 		 4.157165
4 		 3.124698
5 		 2.445729
6 		 1.965031
7 		 1.608305
8 		 1.335023
9 		 1.120673
10 		 0.949355
11 		 0.810274
12 		 0.695880
13 		 0.600764
14 		 0.520968
15 		 0.453531
16 		 0.396193
17 		 0.347193
18 		 0.305133
19 		 0.268890
20 		 0.237551
21 		 0.210366
22 		 0.186713
23 		 0.166076
24 		 0.148022
25 		 0.132190
26 		 0.118274
27 		 0.106014
28 		 0.095192
29 		 0.085619
30 		 0.077135
31 		 0.069602
32 		 0.062901
33 		 0.056930
34 		 0.051601
35 		 0.046836
36 		 0.042569
37 		 0.038741
38 		 0.035302
39 		 0.032207
40 		 0.029419
41 		 0.026902
42 		 0.024628
43 		 0.022570
44 		 0.020705
45 		 0.019014
46 		 0.017477
47 		 0.016080
48 		 0.014808
49 		 0.013649
50 		 0.012591
51 		 0.011625
52 		 0.010742
53 		 0.009935
54 		 0.009195
55 		 0.008517
56 		 0.007895
57 		 0.007323
58 		 0.006798
59 		 0.006316
60 		 0.005871
61 		 0.005462
62 		 0.005084
63 		 0.004736
64 		 0.004414
65 		 0.004117
66 		 0.003843
67 		 0.003588
68 		 0.003353
69 		 0.003135
70 		 0.002933
71 		 0.002745
72 		 0.002571
73 		 0.002409
74 		 0.002258
75 		 0.002118
76 		 0.001988
77 		 0.001867
78 		 0.001754
79 		 0.001648
80 		 0.001550
81 		 0.001458
82 		 0.001372
83 		 0.001292
84 		 0.001217
85 		 0.001147
86 		 0.001081
87 		 0.001019
88 		 0.000962
89 		 0.000908
90 		 0.000857
91 		 0.000809
92 		 0.000765
93 		 0.000723
94 		 0.000683
95 		 0.000646
96 		 0.000611
97 		 0.000578
98 		 0.000548
99 		 0.000518
100 		 0.000491
101 		 0.000465
102 		 0.000441
103 		 0.000418
104 		 0.000396
105 		 0.000376
106 		 0.000357
107 		 0.000338
108 		 0.000321
109 		 0.000305
110 		 0.000290
111 		 0.000275
112 		 0.000261
113 		 0.000248
114 		 0.000236
115 		 0.000224
116 		 0.000213
117 		 0.000203
118 		 0.000193
119 		 0.000184
120 		 0.000175
121 		 0.000166
122 		 0.000158
123 		 0.000151
124 		 0.000144
125 		 0.000137
126 		 0.000130
127 		 0.000124
128 		 0.000118
129 		 0.000113
130 		 0.000108
131 		 0.000103
132 		 0.000098
133 		 0.000093
134 		 0.000089
135 		 0.000085
136 		 0.000081
137 		 0.000077
138 		 0.000074
139 		 0.000071
140 		 0.000067
141 		 0.000064
142 		 0.000061
143 		 0.000059
144 		 0.000056
145 		 0.000054
146 		 0.000051
147 		 0.000049
148 		 0.000047
149 		 0.000045
150 		 0.000043
151 		 0.000041
152 		 0.000039
153 		 0.000037
154 		 0.000036
155 		 0.000034
156 		 0.000033
157 		 0.000031
158 		 0.000030
159 		 0.000029
160 		 0.000027
161 		 0.000026
162 		 0.000025
163 		 0.000024
164 		 0.000023
165 		 0.000022
166 		 0.000021
167 		 0.000020
168 		 0.000019
169 		 0.000019
170 		 0.000018
171 		 0.000017
172 		 0.000016
173 		 0.000016
174 		 0.000015
175 		 0.000014
176 		 0.000014
177 		 0.000013
178 		 0.000013
179 		 0.000012
180 		 0.000012
181 		 0.000011
182 		 0.000011
183 		 0.000010
184 		 0.000010
185 		 0.000009
186 		 0.000009
187 		 0.000009
188 		 0.000008
189 		 0.000008
190 		 0.000008
191 		 0.000007
192 		 0.000007
193 		 0.000007
194 		 0.000007
195 		 0.000006
196 		 0.000006
197 		 0.000006
198 		 0.000006
199 		 0.000005
200 		 0.000005
201 		 0.000005
202 		 0.000005
203 		 0.000005
204 		 0.000004
205 		 0.000004
206 		 0.000004
207 		 0.000004
208 		 0.000004
209 		 0.000004
210 		 0.000003
211 		 0.000003
212 		 0.000003
213 		 0.000003
214 		 0.000003
215 		 0.000003
216 		 0.000003
217 		 0.000003
218 		 0.000002
219 		 0.000002
220 		 0.000002
221 		 0.000002
222 		 0.000002
223 		 0.000002
224 		 0.000002
225 		 0.000002
226 		 0.000002
227 		 0.000002
228 		 0.000002
229 		 0.000002
230 		 0.000002
231 		 0.000001
232 		 0.000001
233 		 0.000001
234 		 0.000001
235 		 0.000001
236 		 0.000001
237 		 0.000001
238 		 0.000001
239 		 0.000001
240 		 0.000001
241 		 0.000001
242 		 0.000001
243 		 0.000001
244 		 0.000001
245 		 0.000001
246 		 0.000001
247 		 0.000001
248 		 0.000001
249 		 0.000001
250 		 0.000001

Now that you have created the **user_mat** and **movie_mat**, we can use this to make predictions for how users would rate movies, by just computing the dot product of the row associated with a user and the column associated with the movie.

`3.` Use the comments in the function below to complete the **predict_rating** function.

In [19]:
def predict_rating(user_matrix, movie_matrix, user_id, movie_id):
    '''
    INPUT:
    user_matrix - user by latent factor matrix
    movie_matrix - latent factor by movie matrix
    user_id - the user_id from the reviews df
    movie_id - the movie_id according the movies df
    
    OUTPUT:
    pred - the predicted rating for user_id-movie_id according to FunkSVD
    '''
    # Use the training data to create a series of users and movies that matches the ordering in training data
    user_ids_series = np.array(train_data_df.index)
    movie_ids_series = np.array(train_data_df.columns)

    # User row and Movie Column
    user_row = np.where(user_ids_series == user_id)[0][0]
    movie_col = np.where(movie_ids_series == movie_id)[0][0]
    
    # Take dot product of that row and column in U and V to make prediction
    pred = np.dot(user_matrix[user_row, :], movie_matrix[:, movie_col])
    
    
    return pred

In [20]:
# Test your function with the first user-movie in the user-movie matrix (notice this is a nan)
pred_val = predict_rating(user_mat, movie_mat, 8, 2844)
pred_val

7.8593464593886324

It is great that you now have a way to make predictions. However it might be nice to get a little phrase back about the user, movie, and rating.

`4.` Use the comments in the function below to complete the **predict_rating** function.  

**Note:** The movie name doesn't come back in a great format, so you can see in the solution I messed around with it a bit just to make it a little nicer.

In [21]:
def print_prediction_summary(user_id, movie_id, prediction):
    '''
    INPUT:
    user_id - the user_id from the reviews df
    movie_id - the movie_id according the movies df
    prediction - the predicted rating for user_id-movie_id
    
    OUTPUT:
    None - prints a statement about the user, movie, and prediction made
    
    '''
    movie_name = str(movies[movies['movie_id'] == movie_id]['movie']) [5:]
    movie_name = movie_name.replace('\nName: movie, dtype: object', '')
    print("For user {} we predict a {} rating for the movie {}.".format(user_id, round(prediction, 2), str(movie_name)))

In [22]:
# Test your function the the results of the previous function
print_prediction_summary(8, 2844, pred_val)

For user 8 we predict a 7.86 rating for the movie  FantÃ´mas - Ã€ l'ombre de la guillotine (1913).

Now that we have the ability to make predictions, let's see how well our predictions do on the test ratings we already have.  This will give an indication of how well we have captured the latent features, and our ability to use the latent features to make predictions in the future!

`5.` For each of the user-movie rating in the **val_df** dataset, compare the actual rating given to the prediction you would make.  How do your predictions do?  Do you run into any problems?  If yes, what is the problem?  Use the document strings and comments below to assist as you work through these questions.

In [23]:
def validation_comparison(val_df, num_preds):
    '''
    INPUT:
    val_df - the validation dataset created in the third cell above
    num_preds - (int) the number of rows (going in order) you would like to make predictions for
    
    OUTPUT:
    Nothing returned - print a statement about the prediciton made for each row of val_df from row 0 to num_preds
    '''
    val_users = np.array(val_df['user_id'])
    val_movies = np.array(val_df['movie_id'])
    val_ratings = np.array(val_df['rating'])
    
    
    for idx in range(num_preds):
        pred = predict_rating(user_mat, movie_mat, val_users[idx], val_movies[idx])
        print("The actual rating for user {} on movie {} is {}.\n While the predicted rating is {}."\
              .format(val_users[idx], val_movies[idx], val_ratings[idx], round(pred))) 
        
# Perform the predicted vs. actual for the first 6 rows.  How does it look?
validation_comparison(val_df, 6)

The actual rating for user 49056 on movie 1598822 is 8.
 While the predicted rating is 8.0.
The actual rating for user 49056 on movie 289879 is 9.
 While the predicted rating is 8.0.
The actual rating for user 49056 on movie 1563738 is 9.
 While the predicted rating is 6.0.
The actual rating for user 49056 on movie 1458175 is 4.
 While the predicted rating is 7.0.
The actual rating for user 28599 on movie 103639 is 8.
 While the predicted rating is 8.0.
The actual rating for user 50593 on movie 1560985 is 4.
 While the predicted rating is 5.0.

In [24]:
# Perform the predicted vs. actual for the first 7 rows.  What happened?
validation_comparison(val_df, 7)

The actual rating for user 49056 on movie 1598822 is 8.
 While the predicted rating is 8.0.
The actual rating for user 49056 on movie 289879 is 9.
 While the predicted rating is 8.0.
The actual rating for user 49056 on movie 1563738 is 9.
 While the predicted rating is 6.0.
The actual rating for user 49056 on movie 1458175 is 4.
 While the predicted rating is 7.0.
The actual rating for user 28599 on movie 103639 is 8.
 While the predicted rating is 8.0.
The actual rating for user 50593 on movie 1560985 is 4.
 While the predicted rating is 5.0.

IndexError: index 0 is out of bounds for axis 0 with size 0

** The first 6 rows completed without issue, but there was an error in the 7th row. Why do you think that happened?**

The 7th movie is a movie that has no ratings. Therefore, we are not able to make a prediction for this user-movie pair.